<!-- <p>viewtable works!</p> -->
<div  style="background-color:blue" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">View Table</h1>
      
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr class="col-lg-12">
                        <th scope="col">No_Of_Guest</th>
                        <th scope="col">Date</th>
                        <th scope="col">Reservation_By</th>
                        <th scope="col">Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr  class="bg-primary" *ngFor='let data of datas'>
                        <th scope="row">{{data.no_of_guest}}</th>
                        <td>{{data.date}}</td>
                        <td>{{data.reservation_by}}</td>
                        <td>{{data.status}}</td>
                        
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
</div>
